.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eeeb;
}

.sd-lst{
  background-color: lightgray;
}


.lst{
  background-color: lightgray;
}

.lst1:hover{
  background-color: blue;
}
.lst2:hover{
  background-color: red;
}
.lst3:hover{
  background-color: green;
}
